@import url('https://fonts.cdnfonts.com/css/rocket-pop');

.home {
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Rocket Pop Punch', sans-serif;
    font-size: 150px;
    width: 100%;
    text-align: center;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.botao {
    max-height: 105px;
    width: 317px;
    height: 100%;
    border-radius: 24px;

    font-size: 25px;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1200px) {
    .titulo {
        font-size: 120px;
    }

    .botao {
        width: 250px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 80px;
    }

    .botao {
        width: 200px;
        font-size: 18px;
    }

    .centro {
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 60px;
    }

    .botao {
        width: 150px;
        font-size: 16px;
    }

    
}