#root {
  height: 100vh;
  margin: 0 auto;
  padding: 0;

  --destaque: #9657e7;
  --fundo: white;
}

.primeiro {
  background-color: var(--destaque);
  border: 2px solid var(--destaque);
  color: var(--fundo);
  cursor: pointer;
}

.segundo {
  background-color: none; 
  border: 2px solid var(--destaque);
  color: var(--destaque);
  cursor: pointer;
}