#root {
  height: 100vh;
  margin: 0 auto;
  padding: 0;

  --destaque: #000000;
  --fundo: #e2c4ff;
}

body {
  background-image: url('./assets/pink.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.primeiro {
  background-color: var(--destaque);
  border: 2px solid var(--destaque);
  color: var(--fundo);
  cursor: pointer;
}

.primeiro:hover {
  background: var(--fundo);
  color: var(--destaque);
  border-color: var(--destaque);
}

.segundo {
  background-color: none; 
  border: 2px solid var(--destaque);
  color: var(--destaque);
  cursor: pointer;
}

.segundo:hover {
  background-color: var(--fundo);
  color: var(--destaque);
}