.game {
    height: 100vh;
    padding: 0;
    margin: 0 auto; 
}

.jogo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
}

.hangman {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 20px;
}

.palavra {
    display: flex;
    justify-content: center;
}

.teclado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.placar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 15%;
}

.final {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn {
    height: 67px;
    width: 332px;
    border-radius: 24px;

    font-size: 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .meio {
        flex-direction: column;
    }

    .hangman {
        align-items: center;
        flex-direction: column;
    }

    .palavra {
        width: 100%;
    }

    .teclado {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .final {
        flex-direction: column;
    }
}