body{
  margin:0;
  padding:0;
}
header{
gap: 511px;
box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
}
.kevin{  
display: flex;
text-align: left;
gap:50px;



}

.nome{
font-weight: 700;
font-size: 20px;
line-height: 20px;
font-family: "Be Vietnam", sans-serif;
letter-spacing: -0.02em;

}
.section{
  display: flex;
  gap:20px;
  list-style: none;
  padding-top: 11px;
  



}
.section a{
  
   font-family: "Be Vietnam", sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 20.45px;
   text-decoration: none;
   color: #0065FF;


}

.redes_e_botao{
  display: flex;

  gap:50px;
}
.redes{
  display: flex;
  padding-top: 15px;
gap: 30px;
}
.togle{
  display: flex;
  gap: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 12px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
}

input:checked + .slider {
  background-color: black;
}
.dm{
  font-family: 'Be Vietnam', sans-serif;
  font-size: 14px;
}


input:checked + .slider:before {
  -webkit-transform: translateX(18px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

  

