@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*, ul {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #BCCDD0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: #DFDFD6;
    border-radius: 28px;
    
    display: flex;

    width: 90%;
    height: 100%;
    max-width: 875px;
    max-height: 492px;
}

#conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 41px 30px;
    
}

#texto {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    gap: 32px;
    text-align: justify;
}


#rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
}

#perfil {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#credencial {
    display: flex;
    flex-direction: column;

    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    justify-content: space-around;
}

button {
    display: block;
    border: none;
    background: none;
}

#share {
    height: 52px;
    width: 52px;

}

#share:hover {
    cursor: pointer;
}

#menu {
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 15px;
    height: 44px;
    width: 230px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #696F5A;
}


#hamburguer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
}

.links {
    color: #DFDFD6;
    text-decoration: none;
}

.links:hover {
    cursor: pointer;
}

#twitter {
    padding-top: 2px;
}

p {
    font-size: 16px;
}

#cshare {
    color: #DFDFD6;
    width: 84px;
    height: 21px;
    font-family: "Overpass", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

h4 {
    font-size: 24px;
}

@media (max-width: 800px) {

    #card {
        transform: rotate(90deg);

        height: 100%;
        max-height: 350px;
        min-width: 700px;
        
    }

    #conteudo {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        padding: 30px 25px 30px 25px;
        max-width: 440px;
        max-height: 290px;
        writing-mode: vertical-rl;
        gap: 10px;
    }

    #texto {
        height: 100%;
        transform: rotate(180deg);
        transform-origin: center;
        gap: 10px;
    }

    #rodape {
        transform: rotate(180deg);
        
    }

    .imgrodape {
        transform: rotate(90deg);
    }

    #hamburguer {
        flex-direction: column;
    }

    #perfil {
        position: absolute;
    }

    #compartilhar {
        padding-top: 250px;
    }

    #menu {
        height: 220px;
        width: 34px;
    }

    #cshare {
        height: 220px;
        width: 30px;
        padding-top: 8px;
        padding-right: 5px;
    }

    ul {
        transform: rotate(90deg);
        flex-direction: column-reverse;
        padding-right: 73px;
        gap: 10px;
    }
    
    
    
}
