@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #BCCDD0;
    display: flex;
    flex-direction: row;

    margin: auto 0;

    align-items: center;
}

#card {
    background-color: #DFDFD6;
    border-radius: 28px;
    margin: 0 auto; 
    
    display: flex;

    width: 87.5%;
    max-width: 875px;
    max-height: 492px;
}

#conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 41px 30px;
    
}

#texto {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    gap: 32px;
    text-align: justify;
}


#rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#perfil {
    display: flex;
    flex-direction: row;
}

#credencial {
    display: flex;
    flex-direction: column;

    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    justify-content: space-around;
}

#share {
    display: flex;
}

p {
    font-size: 16px;
}

h4 {
    font-size: 24px;
}