@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


:root {
  --destaque: rgb(127, 47, 202);
  --fundo: white;
  --texto: black;
  --aviso: #f8f9fa;
  --sombra-menu: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  background-color: black;
  --fundo: black;
  color: white;
  --aviso: #19191a;
  --destaque: rgb(233, 216, 250);
  --sombra-menu: rgb(233, 216, 250, 0.4);
}

.App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--fundo);
}

.Destaque {
  color: var(--destaque) ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: flex-end;
  background-color: var(--fundo);
  box-shadow: 0px 8px 80px rgb( 0, 0 ,0 , 0.15);
}

.menu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 30px;
}

.DarkMode {
  flex: 0 0 auto;
  display: flex;
  padding-right: 3%;
}

.DM {
  font-size: 15px;
}

.Home {
  display: none;
}

.Nome {
  flex: 0 0 auto;
  font-weight: 700;
  padding-left: 3%;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  position: relative;
  background-color: var(--destaque);
  width: 43px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.7s ease; 
}

input[type='checkbox']::before {
  content: "";
  position: absolute;
  background-color: var(--fundo);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform: scale(0.8);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.7s ease; 
}

input[type='checkbox']:checked::before {
  background-color: var(--fundo);
  left: 24px;
}

input[type='checkbox']:checked {
  background-color: var(--destaque)
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li:hover {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 17px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3% 5% 5% 5%;
}

.Inicio {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  max-height: 783px;
}

.Foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 30px 80px rgb( 0, 0 ,0 , 0.15);
}

.Hello {
  display: flex;
  flex-direction: column;
  line-height: 0.1;
  font-size: 20px;
  padding-top: 30px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

hr {
  background-color: var(--destaque);
  height: 4px;
  width: 100%;
  border-radius: 40px;
}

.DivisorUm {
  width: 190px;
  margin-right: 100%;
}

.Aviso{
  display: flex;
  background-color: var(--aviso);
  max-width: 480px;
  padding: 1% 1% 0 1%;
  gap: 2%;
}

.aviso {
  display: flex;
  font-size: 14px;
}

.DivisorDois {
  background-color: var(--destaque);
  max-width: 960px;
}

.Conteudo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 960px;
  max-height: 1003px;
}

.SectionTwo {
  display: flex;
  flex-direction: column;
}

.SectionThree {
  display: flex;
  justify-content: space-between;
}

.SectionFour {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 30px;
}

.Painel {
  width: 640px;
  height: 370px;
}

.Texto {
  align-items: center;
  width: 280px;
}

.Botao {
  width: 180px;
  height: 50px;
  border-radius: 44px;
  background-color: var(--fundo);
  border-color: var(--destaque);
}


button:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .App-header {
    align-items: baseline;
    height: 50px;
  }

  .Nome{
    padding-top: 13px;
  }

  input[type='checkbox'] {
    width: 43px;
  }

  main {
    height: 2500px;
  }

  .Inicio {
    min-width: 310px;
    max-height: 926px;
    padding-top: 30px;
  }

  .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Hello {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
  }

  .DivisorUm {
    margin-right: auto;
    margin-left: auto;
  }

  .SectionTwo {
    align-items: center;
  }

  .SectionThree {
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
  }

  .SectionFour {
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
  }

  .Painel{
    width: 100%;
    height: 100%;
  }

  .Texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .Botao {
    width: 310px;
  }

  .icon {
    position: absolute;
    z-index: 4;
    left: 5%;
    width: fit-content;
    height: 44px;
    cursor: pointer;
  }
  
  .icon.iconActive {
    position: fixed;
  }

  .icon.iconActive .hamburguer {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
  }
  
  .icon.iconActive .hamburguer:after {
    top: 0;
    background: var(--destaque);
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px var(--sombra-menu);
  }
  
  .icon.iconActive .hamburguer:before {
    top: 0;
    background: var(--destaque);
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px var(--sombra-menu);
  }
  
  .hamburguer {
    top: 50%;
    left: 10%;
    width: 37px;
    height: 6px;
    border-radius: 15px;
    background: var(--destaque);
    position: absolute;
    box-shadow: 0.2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .hamburguer:before {
    top: -12px;
    content: "";
    width: 37px;
    height: 6px;
    border-radius: 15px;
    background: var(--destaque);
    position: absolute;
    box-shadow: 0.2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .hamburguer:after {
    top: 12px;
    content: "";
    width: 37px;
    height: 6px;
    border-radius: 15px;
    background: var(--destaque);
    position: absolute;
    box-shadow: 0.2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }  

  .menu {
    justify-content: center;
    align-items: center;
    display: flex;
    position:fixed;
    flex-direction: column-reverse;
    padding: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fundo);
    flex-wrap: nowrap;
    transition: left 0.3s ease;
    gap: 5%;
  }

  .Home {
    display: flex;
  }
  
  .Esquerda {
    flex-direction: column;
    align-items: center;
  }

  .Direita {
    justify-content: center;
    gap: 100%;
  }

  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px;
    color: var(--destaque);
    font-size: 3.5vw;
  }

  .menu.menuOpen {
    width: 60%;
    height: 100%;
    background: var(--fundo);
    box-shadow: 10px 0px 69px 0px var(--sombra-menu);
    position: fixed;
    z-index: 3;
  }
  
  .menu.menuClose {
    display: none;
    width: 0px;
  }

  @media (max-width: 494px) {
    .Hello {
      font-size: 18px;
      width: 100%;
      height: 100%;
    }
  }  
  
  
}

