:root {
  --destaque: rgb(127, 47, 202);
  --fundo: white;
  --texto: black;
  --aviso: #f8f9fa;
}

.dark-mode {
  background-color: black;
  --fundo: black;
  color: white;
  --aviso: #56585a;
  --destaque: rgb(221, 193, 247);
}

.App {
  margin: 0;
  padding: 0;
  background-color: var(--fundo);
  color: var(--texto);
}

.Destaque {
  color: var(--destaque) ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 8px 80px rgb( 0, 0 ,0 , 0.15);
}

.Left-aligned {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  align-items: center;
}

.Nome {
  font-weight: 20px;
}

.Right-aligned {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  align-items: center;
  gap: 40px;
}

.Direita {
  gap: 20px;

}

.DarkMode {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

li:hover {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5%;
  background-color: var(--fundo);
}

.Inicio {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  max-height: 783px;
}

.Foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 30px 80px rgb( 0, 0 ,0 , 0.15);
}

.Hello {
  display: flex;
  flex-direction: column;
  line-height: 0.1;
  font-size: 20px;
  padding-top: 30px;
}

hr {
  background-color: var(--destaque);
  height: 1px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px
}
.DivisorUm {
  width: 190px;
}

.Aviso{
  background-color: var(--aviso);
  max-width: 462px;
  height: 56px;
  width: 100%;

  font-size: 14px;
}

.DivisorDois {
  background-color: var(--destaque);
  max-width: 960px;
}

.Conteudo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 960px;
  max-height: 1003px;
}

.SectionTwo {
  display: flex;
  flex-direction: column;
}

.SectionThree {
  display: flex;
  justify-content: space-between;
}

.SectionFour {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 30px;
}

.Painel {
  width: 640px;
  height: 370px;
}

.Texto {
  align-items: center;
  width: 280px;
}

.Botao {
  width: 180px;
  height: 50px;
  border-radius: 44px;
  background-color: white;
  border-color: var(--destaque);
}

.Botao.dark-mode {
  background-color: black;
}

button:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {


  .Inicio {
    min-width: 310px;
    max-height: 926px;
  }

  .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Hello {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 100%;
  }

  .SectionTwo {
    align-items: center;
  }

  .SectionThree {
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
  }

  .SectionFour {
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
  }

  .Painel{
    max-width: 100%;
    max-height: 100%;
  }

  .Texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .Botao {
    width: 310px;
  }

}

@media (max-width: 800px) {
  .Inicio {
    min-width: 310px;
    max-height: 926px;
  }
  
  ul {
    display: none;
  }

}

